<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <settingGroup name="MonitorPort">
    <add key="Price" value="4550" />
    <add key="DbUpdater" value="4551" />
    <add key="Client" value="4552" />
  </settingGroup>

  <settingGroup name="Application">
    <add key="FilePath" value="C:\ClientApi\" />
    <add key="ClientApiZipFileName" value="ClientAPIMonitor.zip" />
    <add key="ClientApiExeFileName" value="clientapimanager.exe" />
  </settingGroup>
  
</settings>